@define-color bg-hover #1A1A28;
@define-color bg #353c4a;
@define-color blue #89B4FA;
@define-color sky #89DCEB;
@define-color red #F38BA8;
@define-color pink #F5C2E7;
@define-color lavender #B4BEFE;
@define-color rosewater #F5E0DC;
@define-color flamingo #F2CDCD;
@define-color fg #D9E0EE;
@define-color green #A3BE8C;
@define-color active-green #a6e3a1;
@define-color dark-fg #161320;
@define-color peach #FAB387;
@define-color border @lavender;
@define-color gray2 #6E6C7E;
@define-color black4 #575268;
@define-color black3 #302D41;
@define-color maroon #EBA0AC;

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 7px;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 10pt;
  font-weight: 700;
  padding-bottom: 0px;
}

tooltip {
  background: @bg;
  border-radius: 7px;
  border: 2px solid @border;
}


#window {
	margin: 5px 5px 2px 5px;
	padding-left: 10px;
	padding-right: 7px;
	border-radius: 7px;
	border-bottom: 2px solid @bg;
	border-right: 2px solid @bg;
	background-color: @lavender;
/*	background-color: rgba(46, 52, 64, 0.2);*/
	color: @bg;
}

window#waybar.empty #window {
	background-color: transparent;
	border-bottom: none;
	border-right: none;
}

window#waybar {
  background-color: transparent;
  color: @lavender;
}

/* Workspaces */
/*removed 'window#waybar.solo' before #workspaces*/
@keyframes button_activate {
	from { opacity: .3 }
	to { opacity: 1.; }
}

#workspaces {
  margin: 5px 5px 2px 5px;
  border-radius: 7px;
  padding: 1px;
  background-color: @bg;
  color: @lavender;

}

#workspaces button {
  margin: 5px 2px 5px 2px;
  border-radius: 5px;
  padding-left: 1px;
  padding-right: 1px;
  background-color: @bg;
  color: @lavender;
}

#workspaces button.active {
    color: #A3BE8C;
    /*color: @bg;*/

}

#workspaces button.urgent {
	color: #F38BA8;
}

#workspaces button:hover {
  border: solid transparent;
}

/* Trying to get same button effect as workspaces on arch pill thing */
#custom-arch-pill {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 7px;
  background-color: @bg;
  color: @lavender;
}

#custom-arch-pill button {
  margin: 5px 5px 5px 5px;
  padding-left: 7px;
  padding-right: 3px;
  border-radius: 3px;
  background-color: @bg;
  color: @lavender;
}

#custom-arch-pill button:hover {
	border: solid transparent;
}


#custom-scratchpad-indicator {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  border-radius: 7px;
  background-color: @bg;
  color: @lavender;
}


#custom-mako {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @bg;
  color: @lavender;
}

#custom-gpu-util {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @bg;
  color: @lavender;
}



#mode {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @bg;
  color: @peach;
}

#tray {
  margin: 5px 5px 2px 5px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @bg;
  color: @lavender; 
}

#network {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 7px;
  background-color: @bg;
  color: @lavender;
}

/* #network.wifi, */
/* #network.ethernet { */
/*   color: @green; */
/* } */
#network.linked {
  color: @peach;
}
#network.disconnected,
#network.disabled {
  color: @red;
}

#custom-cliphist {
	color: @peach;
	margin: 5px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 7px;
    background-color: @bg;

}

#custom-gpu-temp,
#cpu,
#memory,
#custom-clipboard,
#temperature {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @lavender;
  background-color: @bg;
}

#custom-linebreak {
	background-color: transparent;
	color: @lavender;
}

#custom-playerctl {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @lavender;
  background-color: @bg;
}

#battery,
#backlight,
#bluetooth,
#pulseaudio {
  margin-top: 5px;
  margin-bottom: 2px;
  color: @lavender;
  background-color: @bg;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;

}

#battery,
#bluetooth {
	margin-left: 0px;
	margin-right: 5px;
	padding-left: 7.5px;
	padding-right: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

#backlight,
#pulseaudio {
	margin-right: 0px;
	margin-left: 5px;
	padding-left: 10px;
  	padding-right: 7.5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

#clock {
  margin: 5px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @lavender;
  background-color: @bg;
}

/* bottom waybar */
